
{% extends 'base.html' %}

{% block title %}Delete List{% endblock title %}

{% block content %}
<main>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button">Delete</button>
  </form>
</main>
{% endblock content %}