{% extends 'base.html' %}

{% block title %}Detail{% endblock title %}

{% block content %}
<main>
    <a href="{% url 'todos_list' %}">Back to list</a>
    <a href="{% url 'todoitem_edit' todolist.id %}">Edit</a>
    <a href="{% url 'todo_delete' todolist.id %}">Delete</a>
    <h1>{{ todolist.name }}</h1>
    <h2>Tasks</h2>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for task in todolist.items.all %}
            <tr>
                <td>
                    <a href="{% url 'todoitem_edit' %}">{{ task.task }}</a>
                </td>
                <td>{{ task.due_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content %}