{% extends 'base.html' %}

{% block title %}List{% endblock title %}

{% block content %}
<main>
    <h1>My lists</h1>
    <a href="{% url 'create_list' %}">Create a new list</a>
    <a href="{% url 'create_item' %}">Create a new item</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of items</th>
            </tr>
        </thead>
        <tbody>
            {% for list in todolist_list %}
            <tr>
                <td><a href="{% url 'todos_detail' list.id %}">{{ list.name }}</a></td>
                <td>{{ list.items.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content %}