{% extends 'base.html' %}

{% block title %}Update List{% endblock title %}

{% block content %}
<main class="list">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="button">Submit</button>
    </form>
  </main>
{% endblock content %}