{% extends 'base.html' %}

{% block title %}Create Task{% endblock title %}

{% block content %}
<main class="items">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="button">Submit</button>
    </form>
  </main>
{% endblock content %}